@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import 'normalize';

// Variables

$green: #8dc63f;
$greenLight: rgba(141, 198, 63, 0.5);
$greenReallyLight: rgba(141, 198, 63, 0.25);
$greenDark: #6daa13;
$grey: #949ca1;
$greyLight: rgba(148, 156, 161, 0.5);
$red: #F04C41;
$redDark: #d42c1c;
$black: #58595b;
$blackLight: rgba(88, 89, 91, 0.5);
$white: #f5f5f5;

$transition: all .35s ease;

$gutter: 20px;

// General/Typography

html, body {
	width: 900px;
	height: 500px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: $black;
	background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

h1, h2, h3 {
	font-weight: 400;
	padding: 0;
	margin: 0;
}

p {
	font-weight: 300;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	font-weight: 300;
	color: inherit;
	transition: $transition;

	&:hover {
		color: $green;
		text-decoration: none;
	}

	&.button {
		background: $green;
		font-size: 1.25em;
		font-weight: 400;
		padding: $gutter/3 $gutter/2;
		border-radius: 7px;
		color: $white;
		transition: $transition;

		&:hover {
			background: $greenDark;
		}

		&.red {
			background: $red;

			&:hover {
				background: $redDark;
			}

		}

		&.grey {
			background: $grey;
			
			&:hover {
				background: $black;
			}

		}

	}

}

.hide {
	display: none;
}

// Page Wrapper

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
}

// Header

#header {
	padding-top: $gutter*2;
	padding-bottom: $gutter;

	
	img.logo {
		margin: 0px auto;
		width: 100%;
	}

	.minButton {
		margin-top: $gutter/3;
		text-align: right;
		font-size: 0.75em;
	}

}

// Introduction

#gettingStarted, #installation, #error, #completion {
	text-align: center;

	.content {
		padding: $gutter 0;
	}

	h2 {
		color: $green;
		font-weight: 700;
	}

	p {
		font-size: 1.25em;
		padding: $gutter*2 0;
	}

	.col-md-6 {
		text-align: center;
	}

	span {
		font-weight: 400;
	}

}

#gettingStarted {

	h2 {
		
	}

	.col-sm-3 {

		p {
			font-weight: 700;
			color: $black;

			span {
				color: $grey;
			}

		}

	}

	p {
		padding: $gutter*1.25 0;
	}

	.note {
		padding: 0;
		font-size: 1em;
		padding-bottom: $gutter;
	}

}

// Installation

#installation {

	h2 {
	}

	.col-sm-3 {

		p {
			font-weight: 700;
			color: $black;

			span {
				color: $grey;
			}

		}

	}

	p {
		padding: $gutter*1.25 0;
	}

	@mixin circle($size) {
	  content: "";
	  position: absolute;
	  border-radius: 50%;
	  left: calc(50% - #{$size/2});
	  top: calc(50% - #{$size/2});
	  width: $size;
	  height: $size;
	}

	$size: 100px;
	.progress-pie-chart {
	  width: $size;
	  height: $size;
	  border-radius: 50%;
	  background-color: $greenReallyLight;
	  position: relative;
	  &.gt-50 {
	    background-color: $green;
	  }
	}
	.ppc-progress {
	  @include circle($size);
	  clip: rect(0, $size, $size, #{$size/2});
	  .ppc-progress-fill {
	    @include circle($size);
	    clip: rect(0, #{$size/2}, $size, 0);
	    background: #8dc63f;
	    transform: rotate(60deg);
	  }
	  .gt-50 & {
	    clip: rect(0, #{$size/2}, $size, 0);
	    .ppc-progress-fill {
	      clip: rect(0, $size, $size, #{$size/2});
	      background: white;
	    }
	  }
	}
	.ppc-percents {
	  @include circle(#{$size/1.15});
	  background: white;
	  text-align: center;
	  display: table;
	  span {
	    display: block;
	    font-size: 1.75em;
	    font-weight: bold;
	    color: $green;
	  }
	}
	.pcc-percents-wrapper {
	  display: table-cell;
	  vertical-align: middle;
	}

	.progress-pie-chart {
	  margin: 0px auto;
	  margin-top: $gutter*6.25;
	}
}

// Error Container

#error {
	
	h2 {
		color: $red;
	}

	.col-sm-3 {

		p {
			font-weight: 700;
			color: $black;
			padding: $gutter*1.25 0;

			span {
				color: $grey;
			}

		}

	}

}

// Completion Container

#completion {
	
	h2 {
		padding: 0;
		padding-top: $gutter*3;
		padding-bottom: $gutter;
	}

	p {
		padding: 0;
		padding-bottom: $gutter;
	}

}

// Footer Throughout Page

hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

footer {
	height: 80px;
	margin: 0px auto;
	text-align: center;
	padding: $gutter 0;
	color: $grey;
}